/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #a69b90; /* Light brown/tan */
}

/* Centered container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Header Text */
h1, h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

/* Black Buttons */
button {
  width: 220px;
  padding: 15px;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

.star-icon {
  width: 50px;
  margin-bottom: 10px;
}

.back-button {
  background: none;
  font-size: 30px;
  color: white;
  border: none;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

